body {
    background-color: rgba(140, 17, 190, 1);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.containerLogin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.containerLogo img {
    width: 147px;
    height: 30px;
    padding-top: 134px;

}

.containerInput form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.containerInput input {
    width: 280px;
    height: 52px;
    margin-bottom: 16px;
    border-radius: 7px;
    padding-left: 14px;
    color: black;
}

.containerInput ::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 55px;
    color: black;
}

.containerInput button {
    width: 300px;
    height: 52px;
    background-color: rgba(163, 40, 214, 1);
    border-radius: 7px;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.containerCadastro h1 {
    margin-top: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.containerCadastrar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}
.containerOperacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerOperacao h1{
    color: white;
    font-weight: 700;
    font-size: 26px;
    margin-top: 25px;
    padding-right: 140px;
    padding-bottom: 10px;
}